<div class="container">
  <dx-form [formData]="infoProvedores" #formProveedores>
    <dxi-item itemType="group" [colCount]="3" cssClass="my-3">
      <dxi-item itemType="group" [colSpan]="3" [colCount]="4">
        <dxi-item cssClass="search-quiron" itemType="group" [colCount]="12">
          <dxi-item
            dataField="numeroIdeProveedor"
            [colSpan]="11"
            [editorOptions]="{
              inputAttr: { 'data-tag-id': 'numeroIdeProveedor' },
              onValueChanged: onValueChangedNit,
              onEnterKey: onEnterKeyNit,
              onFocus: onFocus
            }"
          >
            <dxo-label text="NIT"></dxo-label>
          </dxi-item>
          <dxi-item [colSpan]="1" cssClass="mt-7">
            <div *dxTemplate>
              <dx-button icon="find" type="default" stylingMode="text">
              </dx-button>
            </div>
          </dxi-item>
        </dxi-item>
        <dxi-item cssClass="search-quiron" itemType="group" [colCount]="12">
          <dxi-item
            dataField="nombreProveedor"
            [colSpan]="11"
            [disabled]="isEditing"
            [editorOptions]="{
              inputAttr: { 'data-tag-id': 'nombreProveedor' },
              onValueChanged: onValueChangedNombre,
              onEnterKey: onEnterKeyNombre,
              onFocus: onFocus
            }"
          >
            <dxo-label text="Nombre"></dxo-label>
          </dxi-item>
          <dxi-item [colSpan]="1" cssClass="mt-7">
            <div *dxTemplate>
              <dx-button icon="find" type="default" stylingMode="text">
              </dx-button>
            </div>
          </dxi-item>
        </dxi-item>
        <dxi-item cssClass="search-quiron" itemType="group" [colCount]="12">
          <dxi-item
            dataField="direccionProveedor"
            [colSpan]="12"
            [editorOptions]="{
              inputAttr: { 'data-tag-id': 'direccionProveedor' },
              onValueChanged: onValueChangedDireccion,
              onEnterKey: onEnterKeyDireccion,
              onFocus: onFocus
            }"
          >
            <dxo-label text="Dirección"></dxo-label>
          </dxi-item>
        </dxi-item>
        <dxi-item cssClass="search-quiron" itemType="group" [colCount]="12">
          <dxi-item
            dataField="telefonoProveedor"
            [colSpan]="12"
            [editorOptions]="{
              inputAttr: { 'data-tag-id': 'telefonoProveedor' },
              onValueChanged: onValueChangedTelefono,
              onEnterKey: onEnterKeyTelefono,
              onFocus: onFocus
            }"
          >
            <dxo-label text="Teléfono"></dxo-label>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" [colSpan]="3" [colCount]="4">
        <dxi-item cssClass="search-quiron" itemType="group">
          <dxi-item
            dataField="contactoProveedor"
            [editorOptions]="{
              inputAttr: { 'data-tag-id': 'contactoProveedor' },
              onValueChanged: onValueChangedContacto,
              onEnterKey: onEnterKeyContacto,
              onFocus: onFocus
            }"
          >
            <dxo-label text="Contacto"></dxo-label>
          </dxi-item>
        </dxi-item>
        <dxi-item cssClass="search-quiron" itemType="group">
          <dxi-item
            dataField="emailProveedor"
            [editorOptions]="{
              inputAttr: { 'data-tag-id': 'emailProveedor' },
              onValueChanged: onValueChangedEmail,
              onEnterKey: onEnterKeyEmail,
              onFocus: onFocus
            }"
          >
            <dxo-label text="Email"></dxo-label>
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="4">
      <dxi-item cssClass="search-quiron" itemType="group" [colSpan]="4">
        <dxi-item
          dataField="observacion"
          editorType="dxTextArea"
          [editorOptions]="{
            inputAttr: { 'data-tag-id': 'observacion' }
          }"
        >
          <dxo-label text="Observaciones"></dxo-label>
        </dxi-item>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group">
      <dx-data-grid
        [dataSource]="proveedoresGrid"
        [showBorders]="true"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onCellPrepared)="onCellPrepared($event)"
        [height]="300"
        [columnAutoWidth]="true"
        (onSelectionChanged)="onSelectionChangedProveedor($event)"
      >
        <dxo-selection mode="single"></dxo-selection>
        <dxo-export
          [enabled]="true"
          [formats]="['pdf']"
          [allowExportSelectedData]="true"
        ></dxo-export>
        <dxi-column type="buttons">
          <dxi-button text="Editar" [onClick]="onClickEditar"></dxi-button>
        </dxi-column>
        <dxi-column
          dataField="numeroIdeProveedor"
          caption="NIT"
          alignment="left"
        ></dxi-column>
        <dxi-column
          dataField="nombreProveedor"
          caption="Nombre"
          alignment="left"
        ></dxi-column>
        <dxi-column
          dataField="direccionProveedor"
          caption="Dirección"
          alignment="left"
        ></dxi-column>
        <dxi-column
          dataField="telefonoProveedor"
          caption="Teléfono"
          alignment="left"
        ></dxi-column>
        <dxi-column
          dataField="contactoProveedor"
          caption="Contacto"
          alignment="left"
        ></dxi-column>
        <dxi-column
          dataField="observacion"
          caption="Observacion"
          alignment="left"
        ></dxi-column>
      </dx-data-grid>
    </dxi-item>
    <dxi-item itemType="group" [colSpan]="4">
      <dxi-item>
        <div *dxTemplate class="buttons buttons-modal buttons-direccion">
          <dx-button
            text="Guardar"
            icon=""
            type="default"
            stylingMode="default"
          >
          </dx-button>
          <dx-button text="Nuevo" icon="" type="default" stylingMode="default">
          </dx-button>
          <dx-button
            text="Eliminar"
            icon=""
            type="default"
            stylingMode="default"
          >
          </dx-button>
        </div>
      </dxi-item>
    </dxi-item>
  </dx-form>
</div>
